<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.nikhil.filepickerdemo">

    <application
        android:name="in.nikhil.filepickerdemo.FilePickerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="in.nikhil.filepickerdemo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="in.nikhil.filepickerdemo.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="in.nikhil.filepickerdemo.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.nikhil.filepickerdemo.MainActivity" />
        </activity>
    </application>

</manifest>